meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Usos e impactos del mercurio
meta(meta name="description" content="De acuerdo con la Organización Mundial de la salud, todas las personas están expuestas a cierto nivel de mercurio. En la mayoría de los casos se trata de niveles bajos, sin embargo, la exposición al mercurio, incluso a pequeñas cantidades, puede causar graves problemas en la salud humana. El uso del mercurio está relacionado con múltiples actividades industriales, manufactura y minería especialmente; es posible encontrarlo en productos de consumo humano cotidiano y como contaminante del agua, suelo, aire o en elementos que hayan estado en contacto con el metal. Es importante reconocer algunos de los productos que contienen mercurio y su debido tratamiento.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")