h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')                
                    +navTemaItem('1', 'Mercurio en los seres humanos', 'main.html#page/mercurio/')
                    +navTemaItem('2', 'Gestión de productos con mercurio añadido', 'main.html#page/gestion/')
                    +navTemaItem('3', 'Procesos de minería', 'main.html#page/procesos/')
                    +navTemaItem('4', 'Licenciamiento minero', 'main.html#page/licenciamiento/')