.container#gestion

    .header-ecored

        h1 2. Gestión de productos con mercurio añadido

    br#usos

    .subtitulo-guion

        h2 2.1 Usos de productos con mercurio añadido y manejo de pequeños derrames de mercurio
        
    .card

        .card-body

            .card-text

                .row

                    .col-12

                        p.mt-4 El desarrollo de las temáticas anteriores les ha permitido reunir diferentes conceptos, historias, y aprendizajes sobre el mercurio.

                        p.mt-4 En esta sección condensaremos la información relacionada con los usos del mercurio, clasificados por sector. Veremos los procedimientos para el manejo de pequeños derrames y los programas de manejo de residuos peligrosos.

                        p.mt-4 ¡Acompáñenme!

                    .col-12.text-center.mt-4

                        img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 50%")

                .row.gb-color3.mt-4.justify-content-center  

                    .col-12.my-5

                        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators.indicador1
                                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                            .carousel-inner
                                .carousel-item.active
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Amalgamas
                                            p.mt-4 La amalgama dental (también conocida como calza o empaste) es una mezcla homogénea de dos o más metales utilizada en odontología para restaurar un diente afectado por caries o fracturas.
                                            p.mt-4 Comúnmente está compuesta por una aleación metálica a base de polvo de plata mezclado con mercurio; la plata es combinada con otros materiales como el estaño, el cobre y el zinc para mejorar sus propiedades. La relación de la mezcla es 50 - 50 del mercurio con los demás materiales.

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Termómetros
                                            p.mt-4 Un termómetro es un instrumento de medición de temperatura, en donde se llena un tubo de vidrio con mercurio que marca una escala de temperatura estándar. La medida depende si se expande o contrae el mercurio.
                                            p.mt-4 Un termómetro, dependiendo de su uso, puede contener hasta 3 gr de mercurio.
                                            p.mt-4 A continuación, conozca un poco más sobre el uso de los termómetros.
                                    .row.justify-content-center
                                        .col-auto.mt-4
                                            section
                                                a(href="https://www.youtube.com/embed/GV-m6f-VN58" target="_blank").media-link
                                                    img(src="assets/images/pages/icon_www5.svg", alt="").media-link-icon
                                                    .media-link-title
                                                        p
                                                            b Video 6. 
                                                            | Termómetro

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Esfigmomanómetros
                                            p.mt-4 También conocido como esfigmomanómetro o tensiómetro, es un instrumento de medición de la presión arterial, cuyo principio de funcionamiento fue desarrollado en 1855 por Karl Vierordt.
                                            p.mt-4 Los esfigmomanómetros continúan siendo materia de preocupación por su importante contenido de mercurio: entre 80 y 100 gramos por unidad. Se puede decir que con 1 esfigmomanómetro se pueden elaborar 100 termómetros de mercurio. (Salud sin daño, 2006).
                                    .row.justify-content-center
                                        .col-auto.mt-4
                                            section
                                                a(href="https://www.youtube.com/embed/OSIYfylaVW8" target="_blank").media-link
                                                    img(src="assets/images/pages/icon_www5.svg", alt="").media-link-icon
                                                    .media-link-title
                                                        p
                                                            b Video 7. 
                                                            | Medidores de presión

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Timerosal
                                            p.mt-4 Las propiedades mercuriales para impedir la proliferación de bacterias y hongos durante el almacenamiento, y sobre todo, durante el uso de un producto, lo hacen conveniente para ser utilizado como conservante, comúnmente conocido como: tiomersal, timerosal, mercurio tiolato o (etilmercurio) benzoato de sodio.
                                            p.mt-4 Por esta razón, se utiliza en vacunas contra la difteria, el tétanos y la tosferina (DTP), la vacuna antidiftérica y antitetánica (DT), la vacuna antitetánica (TT), y las vacunas contra la hepatitis B, contra Haemophilus influenzae tipo b (Hib) y contra la gripe.
                                            p.mt-4 Existen pocas alternativas a las vacunas que contienen Tiomersal, cuya eficacia e inocuidad haya sido comprobada experimentalmente. La capacidad de producción actual de estas vacunas es limitada e insuficiente para cubrir las necesidades mundiales.
                                            p.mt-4 (Organización Mundial para la Salud OMS, 2006).

                            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                
                .row.p-3.gb-color4

                    .col-12

                        p
                            b Sector salud
                
                .row.gb-color5.mt-4.justify-content-center  

                    .col-12.my-5

                        #carouselExampleIndicators1.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators.indicador1
                                li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                                li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                                li(data-target='#carouselExampleIndicators1', data-slide-to='2')
                                li(data-target='#carouselExampleIndicators1', data-slide-to='3')
                                li(data-target='#carouselExampleIndicators1', data-slide-to='4')
                            .carousel-inner
                                .carousel-item.active
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Preservantes de pintura y barnices
                                            p.mt-4 El mercurio fue durante mucho tiempo un ingrediente clave en las pinturas de látex y otros tipos de pintura, con impacto negativos en la salud humana.

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Pilas
                                            p.mt-4 Los fabricantes de todo el mundo usan mercurio en las baterías para evitar la acumulación de gases internos que pueden hacer que la batería se hinche y gotee.
                                            p.mt-4 (Agencia para la Protección del Medio Ambiente [EPA], 2018).

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Cosmético
                                            p.mt-4 El mercurio está presente en algunas cremas y jabones utilizados para aclarar la piel. También está presente en productos para retirar el maquillaje.
                                            p.mt-4 (Agencia para la Protección del Medio Ambiente [EPA], 2019).

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Interruptores y relés
                                            p.mt-4 Muchos dispositivos eléctricos, como los interruptores y relés, contienen 1000 mg de Hg líquido. Los televisores fabricados antes de 1991 también pueden contener interruptores de mercurio. Estos productos deben eliminarse adecuadamente en los centros de recolección de residuos peligrosos del hogar.
                                            p.mt-4 (Agencia para la Protección del Medio Ambiente [EPA], 2018).

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Antiséptico
                                            p.mt-4 Los antisépticos se aplican sobre tejidos con vida con el fin de generar inhibición en el desarrollo de microorganismos. El papel del mercurio en los antisépticos es muy importante; como cualquier metal pesado, sirve para anular la actividad enzimática.

                            a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                
                .row.p-3.gb-color6

                    .col-12

                        p
                            b Uso domestico

                .row.gb-color7.mt-4.justify-content-center  

                    .col-12.my-5

                        #carouselExampleIndicators2.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators.indicador1
                                li.active(data-target='#carouselExampleIndicators2', data-slide-to='0')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='1')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='2')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='3')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='4')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='5')
                            .carousel-inner
                                .carousel-item.active
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img17.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Barómetros
                                            p.mt-4 Gracias a la propiedad del mercurio, de mantener su volumen constante a los cambios de presión atmosférica, se utiliza en instrumentos para medir la presión.

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img18.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Catalizadores
                                            p.mt-4 Se utiliza como catalizador en los procesos de producción de PVC (Cloruro de Polivinilo), Acetaldehído y VCM (Monómero de Cloruro de Vinilo).

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img19.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Colorímetros
                                            p.mt-4 Instrumento de medición que permite medir la absorbancia de una solución a una frecuencia de luz determinada o instrumento que identifica el color de una manera más precisa.

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img20.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Flujómetro diferencia
                                            p.mt-4 Instrumento de medición que identifica la presión diferencial para determinar la velocidad del caudal. Estos instrumentos son los más utilizados en la industria por costos y facilidad de implementación.

                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img21.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Luminarias
                                            p.mt-4 Las lámparas fluorescentes compactas (CFL, siglas del inglés “compact fluorescent lamp”) contienen mercurio; estas tienen gran aceptación en el mercado debido a su alta eficacia lumínica, su largo tiempo de vida, su seguridad de uso y el bajo consumo de energía.
                                            p.mt-4 Aunque las cantidades de mercurio que contiene una CFL pueden ser comparadas con la punta de un alfiler, es importante protegerlas de ruptura o fractura durante o después del uso para evitar la liberación del mercurio.
                                .carousel-item
                                    .row.justify-content-center
                                        .col-8.text-center
                                            img.img-fluid(src="assets/images/pages/img21.png", style="max-width: 50%")
                                        .col-8
                                            p.mt-4.text-center
                                                b Luminarias
                                            p.mt-4 Veamos los tipos de luminarias que contienen mercurio. (Comité Científico de los Riesgos Sanitarios y Medioambientales [CCRSM], 2010).
                                    .row.justify-content-center.mt-4
                                        .col-4
                                            ul
                                                li Lámparas compactas integradas.
                                                li.mt-3 Lámparas compactas no integradas.
                                                li.mt-3 Lámparas de vapor de mercurio.
                                        .col-4
                                            ul
                                                li Tubos fluorescentes.
                                                li.mt-3 Lámparas de vapor de sodio.
                                                li.mt-3 Lámparas haluros metálicos.

                            a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                
                .row.p-3.gb-color8

                    .col-12

                        p
                            b Uso industrial
                
                .row.mt-4

                    .col-12

                        p ¿Cuántos de estos productos se encuentran en su entorno? ¿Cuántos de ellos han podido liberar o emitir de manera inadecuada el mercurio que llevan dentro?

                        p.mt-4 Los invitamos a:

                        .list.align-items-start.mt-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 Identificar estos productos en su entorno.
                        .list.align-items-start.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 Pensar cuál es el tratamiento que se le debe dar para evitar que contaminen el medio ambiente.
                        
                        p.mt-4 Tenga siempre presente que uno de los principales riesgos de estos productos está relacionado con su inadecuada manipulación y disposición final.

                    .col-12.mt-4

                        img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 80%")

        .row.mx-0.gb-color9

            .col-12.p-4.text-center

                img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 100%")
        
        .row

            .col-12.p-4

                p.mt-4 Ahora que saben cómo proceder en caso de derrame de mercurio, es necesario que tengan en cuenta lo que nunca debe hacer en estos casos.

        .row

            .col-12.col-md-6.p-5

                p Nunca utilice una aspiradora para limpiar el mercurio. La aspiradora dispersará el mercurio en el aire y aumentará la exposición.

                p Nunca utilice una escoba para limpiar el mercurio. Dividirá el mercurio en gotas más pequeñas y las expandirá.

                p Nunca vierta el mercurio en un desagüe. Puede atascarse en las tuberías y causar problemas en el futuro durante las reparaciones. Si se descarga, puede causar contaminación en la fosa séptica o en las plantas de tratamiento de aguas residuales.

                p Nunca atienda un derrame sin protección en sus zapatos. La ropa contaminada también puede expandir el mercurio.

                p
                    i (Hernández, 2017)

            .col-12.col-md-6.text-center

                img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 80%")
    
    br#concepto

    .subtitulo-guion

        h2 2.2 Concepto y programas de posconsumo en Colombia
        
    .card

        .card-body

            .card-text

                .row

                    .col-12

                        h3
                            i ¿Qué son los programas de posconsumo?

                        p.mt-4 Iniciemos con el vídeo Programas de posconsumo del Ministerio de Ambiente y Desarrollo Sostenible - Colombia. 

                    .col-12.mt-4

                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/kbJDoRuNLho', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    
                    .col-12.mt-4

                        h3.mt-4 Vocabulario de términos:

                        h3.mt-4
                            i Conozca los siguientes términos que conforman el concepto de programas de posconsumo:

                .row.justify-content-center.mt-4

                    .col-10

                        .row.align-items-center

                            .col-2

                                img.img-fluid(src="assets/images/pages/img3.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                            .col-10.recuadro2

                                p.ml-4
                                    strong Responsabilidad extendida del productor
                                p.ml-4.mt-4 Instrumento que obliga a los fabricantes e importadores de ciertos productos de consumo masivo, a organizar, desarrollar y financiar la gestión integral de los residuos derivados de sus productos, una vez el consumidor final los desecha. (Ministerio de Ambiente y Desarrollo Sostenible, 2020).
                    
                    .col-10.mt-4

                        .row.align-items-center

                            .col-2

                                img.img-fluid(src="assets/images/pages/img4.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                            .col-10.recuadro3

                                p.ml-4
                                    strong Residuo posconsumo
                                p.ml-4.mt-4 Los residuos posconsumo son residuos peligrosos o de manejo especial que, por su naturaleza, composición, tamaño, volumen, peso, condiciones de almacenamiento o compactación, no pueden ser recolectados, manejados o tratados por la empresa de aseo convencional. (Sentidoverde eco consultores, 2020).
                    
                    .col-10.mt-4

                        .row.align-items-center

                            .col-2

                                img.img-fluid(src="assets/images/pages/img5.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                            .col-10.recuadro2

                                p.ml-4
                                    strong Residuo peligroso
                                p.ml-4.mt-4 Son aquellos residuos o desechos que, por sus características corrosivas, reactivas, explosivas, tóxicas, inflamables, radioactivas, pueden causar riesgos o daños en la salud de las personas y en el ambiente. Así mismo, se consideran peligrosos los envases, empaques o embalajes que hayan estado en contacto con ellos. (Sentidoverde eco consltores, 2020).
                    
                    .col-10.mt-4

                        .row.align-items-center

                            .col-2

                                img.img-fluid(src="assets/images/pages/img6.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                            .col-10.recuadro3

                                p.ml-4
                                    strong Consumidor
                                p.ml-4.mt-4 Persona que adquiere productos de consumo o utiliza ciertos servicios. (Real Academia Española, 2001).

                    .col-10.mt-4

                        .row.align-items-center

                            .col-2

                                img.img-fluid(src="assets/images/pages/img7.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                            .col-10.recuadro2

                                p.ml-4
                                    strong Plan de gestión de devolución de productos posconsumo
                                p.ml-4.mt-4 Instrumento de gestión que contiene el conjunto de reglas, acciones, procedimientos y medios dispuestos para facilitar la devolución y acopio de productos posconsumo, que al desecharse se convierten en residuos peligrosos, con el fin de que sean enviados a las instalaciones en las que se sujetarán a procesos que permitirán su aprovechamiento, valorización, tratamiento y disposición final controlada. (HB HUMAN BIOSCIENCE S.A.S., 2020).

                    .col-10.mt-4

                        .row.align-items-center

                            .col-2

                                img.img-fluid(src="assets/images/pages/img8.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                            .col-10.recuadro3

                                p.ml-4
                                    strong Posconsumo
                                p.ml-4.mt-4 táctica ambiental de largo plazo, orientada a que algunos residuos de consumo masivo generados en nuestros hogares, las instituciones y el comercio, sean separados desde la fuente de los demás residuos y manejados de forma adecuada, promoviendo su recuperación o reciclaje. (Ministerio de Ambiente y Desarrollo Sostenible, 2020).
                
                .row

                    .col-12

                        nav.nav-tab-ecored.my-5
                            #nav-tab.nav.nav-tabs(role='tablist')
                                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                                    strong Los programas de Posconsumo
                                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                                    strong Utilidad de los programas de posconsumo
                                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                                    strong Evolución del concepto de posconsumo
                                
                            #nav-tabContent.tab-content
                                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                                    .row
                                        .col-12
                                            p.mt-4 Es una estrategia creada por el Ministerio de Ambiente y Desarrollo Sostenible, para promover la gestión adecuada de los residuos posconsumo.
                                            p.mt-4 Su objetivo es separar y gestionar apropiadamente los residuos con condiciones de peligrosidad o de manejo complejo, para evitar el contacto con otros residuos que van al relleno sanitario.
                                            p.mt-4 De esta estrategia también surge el concepto de responsabilidad extendida del productor (REP), la cual obliga a los fabricantes e importadores de productos a organizarse y financiar la gestión integral de los residuos derivados de los productos, una vez sean desechados por nosotros los consumidores. (Ministerio de Ambiente y Desarrollo Sostenible, 2020). 

                                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                                    
                                    .row
                                        .col-12
                                            p.mt-4 Los programas de posconsumo pueden tener al menos tres beneficios:
                                            ol.mt-4
                                                li Los residuos posconsumo son separados de los residuos ordinarios y manejados de forma ambientalmente adecuada.
                                                li.mt-2 Los consumidores asumen comportamientos y hábitos de consumo sostenible.
                                                li.mt-2 Los materiales que componen los residuos posconsumo pueden ser reciclados, aprovechados o valorizados por empresas que cumplan con la normatividad legal vigente.

                                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')

                                    .row
                                        .col-12
                                            p.mt-4 El concepto de posconsumo que hoy conocemos ha tenido grandes cambios en nuestro país, pasando de la simple recolección y llegando a la creación de programas de tratamiento, y reutilización. 
                                            p.pmt-4 A continuación podrás evidenciar, a través de una línea de tiempo, cómo ha sido esta evolución desde el año 2005 hasta la actualidad:
                                            p.mt-4 En el año 2005, cuando el hoy Ministerio de Ambiente y Desarrollo Sostenible inicia la reglamentación sobre Residuos Peligrosos (RESPEL), el enfoque principal se le dio a la característica de peligrosidad de los residuos y el objetivo fue evitar que estos residuos llegaran a causar daños y perjuicios al ambiente.
                                            p.mt-4 En el año 2008 surge el concepto de Responsabilidad Extendida del Productor, el cual establece que los productores son responsables por todo el ciclo de vida de los productos; desde el diseño, la fabricación, la distribución al usuario y finalmente desarrollar los mecanismos necesarios para realizar la logística inversa que permita recolectar los productos una vez que finalizan su vida útil y someter los residuos a procesos de reciclaje, reutilización o disposición final adecuada.
                                            p.mt-4 En el año 2009 ocurrió una gran presión de rellenos sanitarios, lo que provocó establecer normas de posconsumo para los productos de consumo masivo, disminuyendo así la cantidad de residuos que llegan a los rellenos sanitarios y alargando el periodo de uso de los mismos.
                                            p.mt-4 Para el 2012 se implementa el concepto de economía circular En este proceso, los materiales extraídos de los productos que terminan su vida útil se convierten en materia primas para fabricar nuevos productos, y de esa manera inyectarlos nuevamente en el proceso de productivo, provocando encadenamiento productivo, generación de nuevas fuentes de trabajo, creación de nuevos sectores económicos y una disminución en la extracción de materias primas.
                                            p.mt-4 Hasta llegar a la ACTUALIDAD a contar con que los programas posconsumo, implementados y desarrollados en los últimos 8 años en el país, han propiciado procesos de innovación, investigación y desarrollo en el manejo de los residuos, permitiendo el crecimiento y fortalecimiento de un nuevo sector económico en el país.

                .row

                    .col-12

                        h2 Marco normativo para los programas de posconsumo 

                        p La transformación vivida por los programas de posconsumo cuenta hoy con un MARCO NORMATIVO que establece las responsabilidades y obligaciones para los actores más relevantes en la ejecución de los programas posconsumo:

                        .list.align-items-start.mt-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 Productores (Fabricantes o importadores).
                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 Comercializadores y distribuidores.
                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 Consumidor final.
                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 Autoridades ambientales y regionales.

                        p.mt-4 Observe a continuación la legislación de referencia. Recuerde acceder a la base de datos LegisInfo, de la Biblioteca virtual del SENA.
                
                .row.justify-content-center.mt-4
                    
                    .col-auto

                        section
                            a(href="https://sena-ambientalex-info.bdigital.sena.edu.co/" target="_blank").media-link
                                img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                            p Biblioteca virtual
                
                .row

                    .col-12.text-center.mt-4

                        img.img-fluid(src="assets/images/pages/img24.png", style="max-width: 80%")

                    .col-12.mt-4

                        h2 Principales obligaciones de los productores, comercializadores y consumidores

                        p Las resoluciones anteriores nos permiten conocer las responsabilidades de los diferentes actores involucrados. Observa a continuación un resumen de ellas.

                .row.mt-4

                    .col-4

                        table.table.table-striped.m-0
                            thead.thead-dark
                                tr
                                    th.table1
                                        i Productores
                            tbody
                                tr
                                    td.table2 
                                        p Establecer, directamente o a través de terceros que actúen en su nombre, un sistema de recolección y gestión ambientalmente seguro de los residuos de los productos puestos por él en el mercado, de acuerdo con las disposiciones que para el efecto establezca el Ministerio de Ambiente y Desarrollo Sostenible.  
                                        p.mt-4 Administrar y financiar, por el modelo que elija, el sistema de gestión.
                                        p.mt-4 Cumplir con metas de recolección anual de residuos y comunicación con los actores.
                                        p.mt-4 Desarrollar sistemas de recolección y gestión de los residuos de los productos puestos en el mercado.

                    .col-4

                        table.table.table-striped.m-0
                            thead.thead-dark
                                tr
                                    th.table1
                                        i Comercializadores
                            tbody
                                tr
                                    td.table2
                                        p El comercializador tiene la obligación de brindar apoyo técnico y logístico al productor, en la recolección y gestión ambientalmente segura de los residuos de estos productos.

                    .col-4

                        table.table.table-striped.m-0
                            thead.thead-dark
                                tr
                                    th.table1
                                        i Consumidores
                            tbody
                                tr
                                    td.table2
                                        p Los usuarios deberán entregar los residuos de estos productos en los sitios que para tal fin disponen los productores o terceros que actúen en su nombre.
                                        p.mt-4 Asumir su corresponsabilidad social con una gestión integral de residuos, a través de la devolución de estos de manera voluntaria y responsable, de acuerdo con las disposiciones que se establezcan para tal efecto.
                                        p.mt-4 Reconocer y respetar el derecho de todos los ciudadanos a un ambiente saludable.

                .row.mt-4

                    .col-12

                        h2 ¿Conoce alguna empresa o entidad que haga recolección de residuos posconsumo?

                        p Los programas presentados a continuación realizan la recolección y tratamiento de residuos de productos con mercurio añadido, conozca sus objetivos y los residuos que recolectan.

                        .row.justify-content-center.mt-4
                    
                            .col-auto

                                section
                                    a(href="media/documentos/Anexo_6_Posconsumo.pdf" target="_blank").media-link
                                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                        .media-link-title
                                                    p
                                                        b Anexo 6. 
                                                        | Entidades posconsumo

                        h2.mt-4 Finalice esta sección con los siguientes videos.

                        p
                            b Programas de posconsumo, 2020.

                    .col-12.mt-4

                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-dQUhx1iihc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    .col-12.mt-4

                        p
                            b Economía circular

                    .col-12.mt-4

                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AzX2gJEuFLI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')