.container#licenciamiento

    .header-ecored

        h1 4. Licenciamiento minero

    br#escenarios
        
    .card

        .card-body

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro1

                        p 4.1
                    
                    .col-10

                        h2.m-0 Escenarios y procesos de formalización minera en Colombia

                .row.mt-3

                    .col-12

                        p.mt-4
                            b Bienvenidos
                        p.mt-4 Cada una de las temáticas anteriores les ha permitido entender el rol tan importante de los seres humanos en la protección del medio ambiente y en el cuidado de nuestra propia salud frente a los efectos nocivos del mercurio. 
                        p.mt-4 A pesar de la relevancia que tiene el aporte voluntario sobre esta labor, también evidenciamos la necesidad de implementar diferentes mecanismos legislativos para asegurar estas prácticas responsables, entre las cuales contamos con el Convenio de Minamata, la Ley 1658 de 2013, y las respectivas sobre comercialización y posconsumo de los productos con contenido de mercurio, que permiten el control de al menos el 6% de las emisiones antropogénicas generadas en el país.
                        p.mt-4 Esta sección les presentará uno de los mecanismos más importantes, utilizado para controlar los impactos de la minería de oro sobre el medio ambiente y la salud; hablamos entonces del control del 94% de las emisiones de mercurio en Colombia:

                        .list.align-items-start.mt-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 La formalización minera.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                            p.mb-0 El licenciamiento minero.

                        p.mt-4 Iniciemos esta temática con el video: 
                        p.mt-4 Hacia la formalización minera, minería bien hecha (Ministerio de Minas y Energía, 2016).
                    
                    .col-12.mt-4

                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yHQJFNnvOTg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    .col-12.mt-4

                        p La formalización minera en Colombia tiene como objetivo que las comunidades mineras que vienen ejerciendo la actividad a pequeña escala, trabajen bajo el amparo de un título, y en condiciones de formalidad técnica, laboral, ambiental y empresarial.
                        p.mt-4 En términos de mercurio, la ley 1658 de 2013 reconoce la relevancia de la formalización de este sector para eliminar el uso del mercurio.
                        p.mt-4 En su artículo 11, establece incentivos para la formalización, con el fin de impulsar y consolidar la formalización de la actividad minera, especialmente de pequeños mineros auríferos, y dispone los instrumentos de:

                        .row.mt-4

                            .col-4

                                table.table.table-striped.m-0
                                    thead.thead-dark
                                        tr
                                            th.table1
                                                i Subcontrato de formalización minera

                                    tbody
                                        tr
                                            td.table2
                                                p Según el concepto jurídico 20181200264553, del 20 de marzo de 2018, de la oficina jurídica de la Agencia Nacional de Minería, un Subcontrato de formalización minera es un negocio jurídico que se celebra entre el titular y los explotadores mineros de pequeña escala o pequeños mineros, previa autorización de la autoridad minera. Sus beneficiarios son explotadores mineros de pequeña escala o pequeños mineros que se encuentren adelantando actividades de explotación dentro de áreas ocupadas por título minero, desde antes del 15 de julio de 2013. 
                                                p.mt-4 La suscripción del contrato de formalización no implicará la división o fraccionamiento del título minero en cuya área se otorgue el derecho a realizar actividades de explotación minera, autorizado en subcontrato. El subcontratista tendrá bajo su responsabilidad la totalidad de las obligaciones inherentes a la explotación de minerales dentro del área subcontratada, así como las sanciones derivadas del incumplimiento normativo o legal. Además de lo anterior, es importante resaltar que el titular minero solo podrá suscribir subcontratos de formalización minera hasta de un 30% de su título minero.

                            .col-4

                                table.table.table-striped.m-0
                                    thead.thead-dark
                                        tr
                                            th.table1
                                                i Devolución de áreas para la formalización minera
                                    tbody
                                        tr
                                            td.table2
                                                p
                                                    b La Ley 1658 de 2013 define:
                                                p.mt-4 Entiéndase por devolución de áreas para formalización minera, la devolución que el beneficiario de un título minero hace, producto de la mediación realizada por el Ministerio de Minas y Energía o la autoridad minera competente o por decisión directa de este, de una parte, del área que le fue otorgada, con el fin de contribuir a la formalización de los pequeños mineros que hayan llevado a cabo su explotación de dicha área.
                                                p.mt-4 En ningún caso se podrá disponer del área devuelta, para ser destinada a beneficiarios diferentes a aquellos que se encontraban previamente efectuando actividades de minería dentro del área devuelta. El Ministerio de Minas y Energía reglamentará el procedimiento, los requisitos para el acceso, evaluación, otorgamiento y administración de estas áreas y la definición de pequeño minero, a través de la Dirección de Formalización Minera o quien haga sus veces y la autoridad minera nacional administrará y operará el registro de las áreas devueltas.

                            .col-4

                                table.table.table-striped.m-0
                                    thead.thead-dark
                                        tr
                                            th.table1
                                                i Beneficios para la formalización
                                    tbody
                                        tr
                                            td.table2
                                                p
                                                    b La Ley 1658 de 2013 define:
                                                p.mt-4 Están dirigidos a titulares mineros de oro, cuya capacidad instalada les permita procesar hasta 20 toneladas de material mineralizado al día, barequeros o mineros que se encuentren en proceso de formalización, que estén inscritos en el registro de usuarios de mercurio señalado en el artículo 4° de la presente ley (El Ministerio de Ambiente y Desarrollo Sostenible reglamentará en un término no mayor a seis (6) meses a partir de la promulgación de la presente ley, el establecimiento del Registro de Usuarios de mercurio de manera gradual, comenzando por el sector minero del país. Este registro será implementado por las autoridades ambientales bajo el Registro Único Ambiental del Sistema de Información Ambiental que administra el IDEAM en un plazo no mayor a dos (2) años después de expedirse la regulación correspondiente.) y que además presenten ante la Dirección de Formalización Minera del Ministerio de Minas y Energía, un plan de trabajo de reducción paulatina del mercurio en su proceso de beneficio del oro, tendrán prioridad para acceder a la oferta institucional de dicho Ministerio establecidos en el programa de formalización minera.

                        p.mt-4 Así mismo, se encuentran disponibles los parámetros de la “Política Nacional para la formalización de la minería en Colombia” determinada por el 
                            b decreto 
                            | 1073 de 2015, en su 
                            b artículo 
                            | 2.2.5.4.1.1.1.1 del Ministerio de Minas y Energía.
                        p.mt-4 En suma a lo anterior, se tiene como instrumento complementario para la formalización ambiental, una Guía ambiental formulada por el Ministerio de Ambiente y Desarrollo Sostenible, donde se indican los elementos a tener en cuenta para identificar, evaluar y manejar los impactos ambientales de la actividad.
                        p.mt-4
                            b Existen tres escenarios de la formalización minera:

                        .header-arrow.arrow1.mt-4

                            .col-12.mb-3.text-center

                                p
                                    b Existen tres escenarios de la formalización minera:

                    .col-12.text-center

                        img.img-fluid(src="assets/images/pages/img33.png", style="max-width: 100%")

                    .col-12.mt-4

                        p Para todos estos escenarios se tiene el debido acompañamiento por parte del Estado.
    
    br#autoridades
        
    .card

        .card-body

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro1

                        p 4.2
                    
                    .col-10

                        h2.m-0 Autoridades ambientales competentes en el licenciamiento ambiental y la formalización minera de oro

                .row.mt-3

                    .col-12

                        p.mt-4 Los proyectos mineros, inician con la exploración, pasan a la explotación, luego al beneficio y transformación mineral y finalmente al cierre y abandono. La primera etapa no requiere de licencia ambiental.
                    
                    .col-12.mt-4.text-center

                        img.img-fluid(src="assets/images/pages/img34.png", style="max-width: 80%")
                    
                    .col-12.mt-4

                        p Una licencia es la autorización que otorga la autoridad ambiental competente para la ejecución de un proyecto, obra o actividad, que de acuerdo con la ley y los reglamentos, no produzca deterioro grave a los recursos naturales renovables o al medio ambiente o pueda introducir modificaciones considerables o notorias al paisaje. La licencia sujeta al beneficiario al cumplimiento de los requisitos, términos, condiciones y obligaciones que la misma establezca en relación con la prevención, mitigación, corrección, compensación y manejo de los efectos ambientales del proyecto, obra o actividad autorizada. 

                    .col-12.col-md-6.p-4

                        p Esta Licencia ambiental llevará implícitos todos los permisos, autorizaciones y/o concesiones para el uso, aprovechamiento y/o afectación de los recursos naturales renovables, que sean necesarios para el desarrollo y operación del proyecto, obra o actividad y deberá obtenerse previamente a la iniciación del proyecto, obra o actividad. 
                        p.mt-4 Para documentar la licencia ambiental se requiere de la presentación de un Estudio de impacto ambiental, que se elabora con base en un documento guía denominado Términos de referencia. Todo en el marco del Decreto 1076 de 2015, artículos 2.2.2.3.2.1, 2.2.2.3.2.2, 2.2.2.3.2.3, 2.2.2.3.5.1, 2.2.2.3.5.2, 2.2.2.3.6.2, 2.2.2.2.3.6.3. En la siguiente figura se presenta un esquema general del trámite y los estudios que se requieren, los cuales pueden ser consultados con mayor en el decreto 1076 de 2015.
                        p.mt-4 Es importante anotar, que de acuerdo al tipo y cantidad de mineral a explotar, el trámite de licencia ambiental se tramitará o con la Autoridad Nacional de Licencias Ambientales, o con la Corporación Autónoma Regional  con jurisdicción en el área de influencia del proyecto.
                    
                    .col-12.col-md-6.text-center.p-4

                        img.img-fluid(src="assets/images/pages/img16.svg", style="max-width: 100%")

                    .col-12

                        p.mt-4 Pulsando clic en el siguiente enlace, podrá consultar cuáles son las autoridades ambientales competentes.

                        .row.justify-content-center.mt-4
                    
                            .col-auto

                                section
                                    a(href="http://www.ideam.gov.co/web/ocga/autoridades" target="_blank").media-link
                                        img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                        .media-link-title
                                            p Autoridades ambientales en Colombia