.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Absorbancia:
            | medida de la disminución de intensidad de la radiación al atravesar una sustancia (Real Academia Española, 2020).
        p
            strong.mr-2 Actividad enzimática:
            | es la actividad de las enzimas que permite que una reacción química ocurra a una velocidad mayor de la habitual (Brix, 2014). 
        p
            strong.mr-2 Almocafres:
            | instrumento que sirve para escardar y limpiar la tierra de malas hierbas, y para trasplantar plantas pequeñas (Real Academia Española, 2019).
        p
            strong.mr-2 Aluvial:
            | dícese de las formaciones geológicas resultantes de procesos de depósito de aluviones (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Amalgama:
            | es una aleación o unión de mercurio con otro metal (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Amalgamación:
            | procedimiento con el que los metales nativos se separan de los minerales no metálicos de la ganga, mediante un mojado selectivo de las superficies metálicas por el mercurio (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Ambiente:
            | entorno en el que opera una organización, que incluye aire, suelo, agua, recursos naturales, seres humanos y su interrelación (Ministerio de Minas y Energías, 2003).
        p
            strong.mr-2 Autoridad ambiental competente:
            | es cualquier autoridad de la República de Colombia que tenga competencia en asuntos ambientales, incluyendo, pero sin limitarse, a las Corporaciones Autónomas Regionales, el Ministerio de Ambiente y Desarrollo Sostenible y la Autoridad Nacional de Licencias Ambientales (Agencia Nacional de Infraestructura (s.f.)  31/07/2020 en https://www.ani.gov.co/glosario/autoridad-ambiental).
        p
            strong.mr-2 Barequeo:
            | el barequeo se entiende que es la actividad que se contrae al lavado de arenas por medios manuales sin ninguna ayuda de maquinaria o medios mecánicos y con el objeto de separar y recoger metales preciosos contenidos en dichas arenas. Igualmente es permitida la recolección de piedras preciosas y semipreciosas por medios similares. (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Barequero:
            | personas naturales o grupo de personas que se dedican a la extracción y recolección, a cielo abierto, de metales preciosos, piedras preciosas y semipreciosas, por medios y herramientas manuales, sin la utilización de ningún tipo de equipo mecanizado o maquinaria para su arranque (Ministerio de Minas y Energía, 2016).
        p
            strong.mr-2 Batea:
            | recipiente de madera o metálico, de forma cónica, que se usa para lavar cascajo y arena, o muestras de roca molida, a fin de separar el oro (o materiales de densidades extremas) y otros metales preciosos (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Beneficio de minerales:
            | conjunto de operaciones empleadas para el tratamiento de menas y minerales por medios físicos y mecánicos, con el fin de separar los componentes valiosos de los constituyentes no deseados, con el uso de las diferencias en sus propiedades. (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Beneficio y transformación:
            | el beneficio considera el conjunto de procesos para la separación del mineral, puede incluir lavado, trituración, molienda, homogenización, clasificación, concentración.
            br
            | La transformación se basa en la modificación mecánica o química del mineral extraído y beneficiado a través de un proceso industrial, después del cual resulta un producto diferente y no identificable con el mineral en su estado natural.
        p
            strong.mr-2 Cajón:
            | cajón de madera armado con clavos de cobre que permite guardar accesorios para distribuirlos en la operación de extracción, traspaso y cargue, cerrado y cubierto en su interior (Ministerio de Minería de Chile, 1993).
        p
            strong.mr-2 Calcinación:
            | proceso que tiene por objeto remover el agua, el dióxido de carbono y otros gases que se encuentran químicamente unidos a un mineral. (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Caudal:
            | cantidad de un fluido (líquido o gas) que se mueve en un determinado lugar por unidad de tiempo (Real Academia Española, 2019).
        p
            strong.mr-2 Celda de seguridad:
            | infraestructura que podrá ser ubicada en las áreas donde se realizará la disposición final de residuos sólidos, mediante la tecnología de relleno sanitario, donde se confinarán y aislarán del ambiente los residuos peligrosos, previo cumplimiento de las normas ambientales y sanitarias en materia de residuos peligrosos. (República de Colombia, 2005).
        p
            strong.mr-2 Cianuración:
            | método para extraer oro o plata a partir de un mineral triturado o molido, mediante disolución en una solución de cianuro de sodio o potasio (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Cierre y abandono:
            | etapa en la cual se desarrollan las actividades necesarias para el retiro de las instalaciones que fueron construidas temporalmente durante la etapa de construcción y para el cierre del Proyecto cuando haya cumplido con su vida útil. (UPME, 2013).
        p
            strong.mr-2 Composite:
            | material compuesto que se hace combinando dos o más materiales, a menudo los que tienen muy diferentes propiedades. Los dos materiales trabajan juntos para dar al compuesto propiedades únicas. Sin embargo, dentro del compuesto puede distinguir fácilmente los diferentes materiales, por no disolverse o mezclarse entre sí (Advancing de cheminal sciences, 2018).
        p
            strong.mr-2 Criba Vibratoria:
            | 1. Es un aparato en el cual una columna de agua, pulsada verticalmente, es manipulada para estratificar mena triturada y obtener una distribución tal que las partículas más livianas quedan arriba y las más pesadas se acumula en la parte baja. 
            br
            | 2. Máquina concentradora de minerales que actúa por diferencia de pesos específicos de los individuos, por medio de golpes verticales de un diafragma en un medio líquido (Ministerio de Minas y Energía, 2003).
        p
            strong.mr-2 Draga:
            | 1. Embarcación a motor, tipo planchón, que se puede desplazar a diferentes sitios de extracción en el cauce, la playa o la llanura de inundación de un río. Posee una bomba de succión a la cual se le ha conectado una tubería que extrae material del lecho del río.
            br
            | 2. Cuando se utiliza en minería de oro, en este equipo, el sistema de extracción (bomba de sólidos) y el de recuperación (canaletas) están montados sobre el planchón. El método consiste en succionar el material aurífero con una manguera plastificada, generalmente de 6" de diámetro, que es manipulada en el fondo por un buzo que recibe aire desde la superficie por una comprensora. El buzo se encarga de seleccionar el material que será succionado para ser procesado en las canaletas de recuperación. Este método presenta una serie de dificultades por trabajar a ciegas o bajo al agua y estar expuestos a las fluctuaciones del nivel del río, que puede obligar a las dragas a apearse en las orillas (Ministerio de Minas y energía, 2003).
        p
            strong.mr-2 Encapsulamiento:
            | es un procedimiento empleado para tratar residuos peligrosos, de modo que no afecten el medio ambiente. En este proceso, el residuo es incorporado dentro de un recipiente que lo aísla del ambiente, para su posterior almacenamiento y confinación en una celda de seguridad (Evergreen Service, 2019).
        p
            strong.mr-2 Entable minero:
            | nombre común que recibe en Colombia las plantas de beneficio de oro rudimentarias. Adaptado de: Alianza por la Minería Responsable (2016). La formalización de la pequeña minería en Colombia.
        p
            strong.mr-2 Esfigmomanómetro:
            | instrumento médico empleado para medir la tensión arterial (Mi Tensiometro, n.d.).
        p
            strong.mr-2 Estudio de impacto ambiental:
            | instrumento básico para la toma de decisiones sobre los proyectos, obras o actividades que requieren licencia ambiental. Se exigirá en todos los casos en que se requiera licencia ambiental, de acuerdo con la ley y este reglamento (Estudio de Impacto Ambiental. Autoridad Nacional de Licencias Ambientales (s.f.).   16 julio de 2020 de http://portal.anla.gov.co/estudio-impacto-ambiental).
        p
            strong.mr-2 Exploración minera:
            | comprende el conjunto de operaciones de extracción de minerales que se encuentran en el área de concesión, acopio, beneficio, y cierre y abandono de montajes e infraestructura (17 de julio de 2020). Etapa de exploración [Archivo PDF]. Agencia Nacional de Minería (s.f.)  31/07/2020 en: https://www.anm.gov.co/sites/default/files/DocumentosAnm/explotacion.pdf).
        p
            strong.mr-2 Explotación minera:
            | la exploración técnica es la primera fase de contrato de concesión y debe realizarse dentro de los tres (3) años siguientes a la fecha de la inscripción del contrato de concesión en el Registro Minero Nacional (Agencia Nacional de Minería, s.f.).
        p
            strong.mr-2 Formalización minera:
            | tiene como objetivo que las comunidades mineras que vienen ejerciendo la actividad a pequeña escala, trabajen bajo el amparo de un título, y en condiciones de formalidad técnica, laboral, ambiental y empresarial. Formalización minera. Iniciativa para la Transparencia de las Industrias Extractivas. (2017).  16 de julio de 2020, de http://www.eiticolombia.gov.co/es/informes-eiti/informe-2077/marco-institucional/formalizacion-minera/).
        p
            strong.mr-2 Ganga:
            | minerales que no presentan interés económico en un yacimiento, pero que no pueden ser desechados en minería. Ella es separada de los minerales de mena durante los procesos de concentración y generalmente son minerales no metálicos (Ministerio de Minas y Energía & Servicio Geológico Colombiano, 2018).
        p
            strong.mr-2 Guía ambiental:
            | documentos técnicos de orientación conceptual, metodológica y procedimental para apoyar la gestión, manejo y desempeño ambiental de los proyectos, obras o actividades (Ministerio de Ambiente, Vivienda y Desarrollo Territorial, 2005).
        p
            strong.mr-2 Impacto ambiental:
            | cualquier modificación sobre el entorno ocasionada por la naturaleza en sí misma o por acciones humanas.
        p
            strong.mr-2 Inocuidad:
            | característica que garantiza que los alimentos que consumimos no causen daño a nuestra salud, es decir, que durante su producción se aplicaron medidas de higiene para reducir riesgos (Servicio Nacional de Sanidad, Inocuidad y Calidad Agroalimentaria, s.f.).
        p
            strong.mr-2 Legalización minera:
            | proceso que se lleva a cabo para que mineros que están explotando sin título minero tramiten el permiso para hacerlo (Adaptado de Ministerio de Minas y Energía, 2002).
        p
            strong.mr-2 Lixiviación:
            | la lixiviación es un proceso de separación en el que una sustancia X se elimina de otra sustancia sólida cuando entra en contacto con un líquido que tiene mayor afinidad con la sustancia X, de esta manera lo aparta del sólido. El ejemplo más conocido de lixiviación es la preparación de café con café molido. La Mezcla compleja de sustancias que comunican su olor, sabor y efectos fisiológicos, la sustancia sólida es el café molido y el líquido encargado de la separación es el agua caliente (Wankat, 2008). 
        p
            strong.mr-2 Mena:
            | mineral base del que es posible extraer otro mineral de mayor pureza e importancia económica. Este concepto se opone al de ganga. En general, es un término que se refiere a minerales metálicos, de los que se puede extraer el mineral de interés, en este caso el oro (Ministerio de Minas y Energía & Servicio Geológico Colombiano, 2018).
        p
            strong.mr-2 Mineralogía:
            | ciencia que estudia los minerales. La manera en que se combinan, cristaliza, presentan y distribuyen estos compuestos, sus diversas características físicas y químicas, su origen y su distribución en la corteza terrestre. Está ligada a la geología (que estudia los procesos físicos que determinan la formación de la tierra) (Ministerio de Minas y Energía & Servicio Geológico Colombiano, 2018).
        p
            strong.mr-2 Perpetuidad:
            | 1. f. Duración sin fin. 
            br
            | 2. f. Duración muy larga o incesante. Adverbio. Para siempre. (Real Academia Española, 2019).
        p
            strong.mr-2 Relave:
            | corresponde al residuo, mezcla de mineral molido con agua y otros compuestos, que queda como resultado de haber extraído los minerales sulfurados en el proceso de flotación. Este residuo, también conocido como cola, es transportado mediante canaletas o cañerías hasta lugares especialmente habilitados o tranques, donde el agua es recuperada o evaporada para quedar dispuesto finalmente como un depósito estratificado de materiales finos (arenas y limos) (Ministerio de Minería de Chile, 2014).
        p
            strong.mr-2 Relé:
            | dispositivo electromagnético que abre o cierra un circuito. En radiodifusión y televisión: estación repetidora que recoge la señal procedente de otra estación y la transmite. (Ministerio de Energía de Chile et al., 2018).
        p
            strong.mr-2 Residuo peligroso:
            | comúnmente denominado RESPEL, “Es aquel residuo o desecho que, por sus características corrosivas, reactivas, explosivas, tóxicas, inflamables, infecciosas o radiactivas, puede causar riesgo o daño para la salud humana y el ambiente. Así mismo, se consideran residuos o desechos peligrosos los envases, empaques y embalajes que hayan estado en contacto con ellos”. (CORTOLIMA, n.d.).
        p
            strong.mr-2 Responsabilidad extendida del productor (REP):
            | es un principio que se enfoca en la responsabilidad que tienen los productores en cada fase de la vida de los productos que manufacturan, procurando los recuperen, reciclen y dispongan adecuadamente de ellos, una vez termina la vida útil de los mismos (Ministerio de Ambiente, n.d.).
        p
            strong.mr-2 Términos de referencia:
            | son los lineamientos generales que la autoridad ambiental señala y publica para la elaboración y ejecución de los Estudios de Impacto Ambiental (EIA) y Diagnóstico Ambiental de Alternativas DAA presentados ante la autoridad ambiental competente al momento de solicitar el otorgamiento de una licencia ambiental. Autoridad Nacional de Licencias Ambientales (17 de julio de 2020). Términos de referencia.  17 julio de 2020 de http://portal.anla.gov.co/terminos-referencia).
        p
            strong.mr-2 Timerosal:
            | es un conservante a base de mercurio etílico que se utiliza en viales que contienen más de una dosis de una vacuna (viales de dosis múltiples) para evitar que gérmenes, bacterias u hongos contaminan la vacuna. (Centros para el control y la prevención de enfermedades, 2015).
        p
            strong.mr-2 Título minero:
            | instrumento a través del cual el Estado colombiano otorga a una persona, jurídica o natural, el derecho a realizar exploración y explotación de minerales de propiedad del Estado en un área determinada, de forma exclusiva, y por cuenta y riesgo del titular, para que este último aproveche económicamente los minerales que extraiga. En otras palabras, otorga la posibilidad de explorar y el derecho a explotar y aprovechar económicamente minerales de propiedad del Estado colombiano. Asuntos Legales, 2015. Nociones básicas sobre títulos mineros.  24 de junio de 2020 en https://www.asuntoslegales.com.co/consultorio/nociones-basicas-sobre-titulos-mineros-2300396