.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td Echavarría, C. (2015). ¿Qué es Legal? Formalización de la minería artesanal y de pequeña escala en Colombia. IIED, Londres y ARM, Colombia.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_8_Beneficio_del_oro.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar